/* this controls the new comment */
#new-comment{
    margin: auto;
    width: 80%
}

form {
    margin: auto;
    width:84%;
    display: flex;
    flex-direction: column;
}

.submit{
    text-align: center;
    color: #ffdae5;
    cursor: pointer;
    background-color: palevioletred;
    border-radius: 3px;
    height:20px;
    width:90px;
    margin: auto;
    
}

    