/* .button{
    display:flex;
    border:3em;
    
    

} */

/* div .button{
    display: flex;
    background-color: plum ;
    border-color: gray;
    vertical-align: center;
    margin: 5%;
    display: table-cell; 
    vertical-align: middle;
} */

.text{
    background-color: #feeaeb;
    color: #f67db3;
    font-weight:bold;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 6px #999;
    padding: 8px 18px;
    height: 38px;
    font-size: 15px;

    /* text-align: center; */
    

} 

.text:hover {background-color: #ffdae5;}

.text:active {
  /* background-color: #ffa7c1; */

  box-shadow: 0 5px #666;
  transform: translateY(4px);
}