/* 
.comment-page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comment-box {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px 0;
    width: 90%;
}

.comment-username {
    font-weight: bold;
} */

/* this controls the new comment */
#new-comment{
    margin: auto;
    width: 80%
}

form {
    margin: auto;
    width:84%;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* justify-content: center; */

}

p{
    text-align: center;
    cursor: pointer;
    background-color: palevioletred;
    border-radius: 3px;
    height:27px;
    width:90px;
    margin: auto;
    
}

    