.comments-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    padding: 10px;
    /* border: 1px solid gray;  */
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.comment-box {
    padding: 30px;
    /* border: 2px solid #feeaeb;; */
    margin: 3px 0;
    width: 400px;
    height: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    display:inline;
    /* align-items: center; */
    /* text-align: center; */
}

.delete-comment-button {
    /* display:none; */
    opacity: .2;
    align-self: flex-end;
    font-size: small;
    width: 6px;
    height: 2px;
    padding: 1px;
    /* padding-bottom: 20px; */
    /* margin-top: 10px; */
    background: none;
    /* font-weight: 40px; */
    cursor: pointer;

    color:#ffdae5;
}

.delete-comment-button:hover {
    opacity: 1;
}
.comment-username {
    font-weight: bold;
}
b{
   color:#ffdae5;
   /* color: #DB7093 */
}