/* .button{
    display:flex;
    border:3em;
    
    

} */

 div .button{
    display: flex;
    background-color: plum ;
    border-color: gray;
    vertical-align: center;
    margin: 5%;
    display: table-cell; 
    vertical-align: middle;
}
/* 
.text{
    

} */