.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    padding-top: 200px;
}

.home-heading {
    font-size: 50px;
    margin-bottom: 50px;
        
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    text-align: center;
}


.description {
    font-size: 30px;
    position: absolute;
    top: 90%;
}

.sub-description {
    font-size: 20px;
    position: absolute;
    top: 120%;
}

.home-heart {
    position: absolute;
    top: 140%;
}