/* MusicPost.css */

/* .music-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.music-post {
    width: 400px;
    height: auto;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.music-post h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.music-post p {
    font-size: 14px;
    margin-bottom: 10px;
}

.music-post hr {
    border: 1px solid #ccc;
    margin: 20px 0; */
/* } */


/* ////////////// */

.music-posts-container {
    /* height: 500px; */
    overflow: auto;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.music-post {
    width: 400px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.music-post-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.date-likes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date {
    font-size: 18px;
    font-weight: bold;
}

.likes-count {
    font-size: 14px;
    color: #666;
}

.songs-container {
    display: flex;
    flex-wrap: wrap;
}

.song-item {
    width: 50%;
    margin-bottom: 20px;
}

.song-title {
    font-size: 18px;
    font-weight: bold;
}

.song-artist {
    font-size: 14px;
    color: #666;
}

.song-play-count {
    font-size: 14px;
    color: #999;
}





/* ///////////////////////////////// */


/* OLD STYLING STUFF BELOW */
/* 
body {
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
}

.post {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #81ecec;
    margin: 50px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.month {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}

/* profile pic  */
/*
.post img {
    margin: 30px 20px 0 0;
}

/*  white around pfp  */
/*
.circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.bottom {
    margin-top: 120px;
}

.info {
    margin: 20px 0;
    color: #1a7e76;
}
*/ 